name: PR mdBook build check

on:
  pull_request:
    branches:
      - main
      - draft

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MDBOOK_VERSION: 0.5.2
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Install mdBook
        run: |
          mkdir bin
          curl -sSL https://github.com/rust-lang/mdBook/releases/download/v${MDBOOK_VERSION}/mdbook-v${MDBOOK_VERSION}-x86_64-unknown-linux-gnu.tar.gz | tar -xz --directory=bin
          
      - name: mdBook build (HTML only)
        run: |
          bin/mdbook build
